.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  height: fit-content;
  width: fit-content;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.product {
  padding: 20px;
  border: 1px solid;
  display: flex;
  border-radius: 0.3rem;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.product img {
  width: 200px;
  height: 200px;
}
